# Virtual environment
venv/
env/
.venv/

# Python cache
__pycache__/
*.py[cod]
*$py.class
*.so

# Distribution / packaging
build/
dist/
*.egg-info/

# Environment variables
.env

# IDE
.idea/
.vscode/

# Jupyter
.ipynb_checkpoints

# Model
# *.pkl
# *.joblib

# OS
.DS_Store
Thumbs.db